 div, span {
    width: 120px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: #EEEEEE;
  }
   .idexample { 
    width: 100px; 
    height: 100px; 
    float: left; 
    padding: 10px; 
    margin: 10px; 
    background-color: pink; 
 } 
  
  .star, .star1, .star2 {
    width: 80px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: #EEEEEE;
  }